<h1 class="logged">Logged In Users</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th >Full Name</th>
      <th>Phone</th>
      <th >Gmail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listUser">
      <td>{{data.fname}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.email}}</td>
    </tr>
  </tbody>
</table>