<br>
<div class="container">
    <div class="card">
        <div class="card-block">
            <h2 class="card-title">Login</h2>
            <div>
                <div class="container">
                    <form [formGroup]="postLogin" (ngSubmit)="Login()" novalidate>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter email">
                            <small class="form-text text-muted"
                                *ngIf="postLogin.controls.email.touched && postLogin.controls.email.errors?.required">
                                Please enter email address.!
                            </small>

                            <small class="form-text text-muted"
                                *ngIf="postLogin.controls.email.touched && postLogin.controls.email.errors?.email">
                                Email address not well formed.!
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control"id="password" name="password"  formControlName="password"
                                placeholder="Password">
                                <small class="form-text text-muted"
                                *ngIf="postLogin.controls.password.touched && postLogin.controls.password.errors?.required">
                                Please enter password.!
                            </small>
                        </div>
                        <div class="text-center">
                        <button type="submit" class="buttonAlign" class="btn btn-success" [disabled]="!postLogin.valid">Submit</button>
                    </div>
                    </form>
                    <div  class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? 
                       <a class="text-danger" routerLink="/register" routerLinkActive="active">Register</a></small>
                   </div>
                </div>
            </div>
        </div>
    </div>

</div>