<br>
<div class="container">
    <div class="card">
        <div class="card-block">
            <h2 class="card-title">Register</h2>
            <div>
                <div class="container">
                    <form [formGroup]="postRegister" (ngSubmit)="Register()" novalidate>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Full Name</label>
                            <input type="fname" class="form-control" id="fname" name="fname" formControlName="fname" placeholder="Enter full name">
                            <small class="form-text text-muted"
                                *ngIf="postRegister.controls.fname.touched && postRegister.controls.fname.errors?.required">
                                Please enter Full Name.!
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone Number</label>
                            <input type="phone" class="form-control" id="phone" name="phone" formControlName="phone" placeholder="Enter phone Number">
                            <small class="form-text text-muted"
                                *ngIf="postRegister.controls.phone.touched && postRegister.controls.phone.errors?.required">
                                Please enter Phone Number.!
                            </small>
                            </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter email">
                            <small class="form-text text-muted"
                                *ngIf="postRegister.controls.email.touched && postRegister.controls.email.errors?.required">
                                Please enter email address.!
                            </small>

                            <small class="form-text text-muted"
                                *ngIf="postRegister.controls.email.touched && postRegister.controls.email.errors?.email">
                                Email address not well formed.!
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control"id="password" name="password"  formControlName="password"
                                placeholder="Password">
                                <small class="form-text text-muted"
                                *ngIf="postRegister.controls.password.touched && postRegister.controls.password.errors?.required">
                                Please enter email address.!
                            </small>
                        </div>
                        <div class="text-center">
                        <button type="submit" class="buttonAlign" class="btn btn-success" [disabled]="!postRegister.valid">Submit</button>
                    </div>
                    </form>
                    <div  class="row mb-4 px-3">
                        <small class="font-weight-bold">If already Registered? 
                       <a class="text-danger" routerLink="/login" routerLinkActive="active">Login</a></small>
                   </div>
                </div>
            </div>
        </div>
    </div>

</div>